{
    "OFFSET_NEGATIVE_ALLOWED": false, 
    "choicelist_dims": [
        1, 
        2, 
        3, 
        4, 
        5, 
        6, 
        7, 
        8, 
        9, 
        10, 
        11, 
        12, 
        13, 
        14, 
        15, 
        16
    ], 
    "choicelist_dims_z": [
        1, 
        2, 
        3, 
        4
    ], 
    "choicelist_paksize": [
        16, 
        32, 
        48, 
        64, 
        80, 
        96, 
        112, 
        128, 
        144, 
        160, 
        176, 
        192, 
        208, 
        224, 
        240
    ], 
    "choicelist_views": [
        1, 
        2, 
        4
    ], 
    "debug_on": true, 
    "default_image_path": "test.png", 
    "default_paksize": 64, 
    "logfile": "tilecutter.log", 
    "negative_offset_allowed": false, 
    "path_to_makeobj": "..\\makeobj.exe", 
    "transparent": [
        231, 
        255, 
        255
    ], 
    "valid_image_extensions": [
        ".png"
    ], 
    "window_position": [
        100, 
        10
    ], 
    "window_size": [
        800, 
        550
    ]
}