body {
margin: 0;
}

.abs {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: #00FF00;
}
.contbg {
background-color: #FFFFCC;
height: 100%;
min-height: 100%;
margin-left: 12em;
}

.main {
position: relative;
}
.header {
background-color: #1111FF;
padding: 1em;
}

.left {
background-color: #FF00FF;
float: left;
width: 12em;
}

.left ul {
padding: 0;
margin: 0;
}
.left li {
background-color: #FFCC00;
}
.left li:hover {
background-color: #FFCCFF;
}
.left li a {
display: block;
text-decoration: none;
color: #000000;
padding: 0.2ex;
padding-left: 0.5em;
}
.left ul ul li {
background-color: #999999;
}
.left ul ul li a {
padding-left: 1em;
}

.right {
background-color: #FFFF00;
margin-left: 12em;
}

.right p {
margin: 0;
padding: 0.2em 0.3em;
}
.right h1 {
background-color: #BF1498;
margin: 0;
padding: 0.2em 0.3em;
}
.right h2 {
background-color: #EF1498;
margin: 0;
padding: 0.2em 0.3em;
}




